vpc_id = "<YOUR_VPC_ID>"

db_identifier = "nexstatus-db"

db_engine = "mysql"

db_instance_class = "db.t4g.micro"

db_allocated_storage = 20

db_subnet_group_name = "<YOUR_DB_SUBNET_GROUP>"

db_security_group = "<YOUR_DB_SECURITY_GROUP>"

db_publicly_accessible = true

db_multi_az = false
